body {
font-family: sans-serif;
color: #140509;
}

.header {
  padding: 3px 5px;
  background-color: #140509;
  background-image: linear-gradient(#502419, #140509 );
  color: #f1f1f1;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.moja {
  background-image: linear-gradient(black ,grey);
}
.icon img {
height: 30px;
width: 50px;
margin: 20px;
}
.icon {
  padding: 10px;
  font-size: 25px;
  color: white;
}
.links {
  text-align: right;
  padding-top: 30px;
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    display: inline;
    padding: 20px;
}
.nav {
  float: right;
  padding-bottom: 20px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
.talia {
  text-align: center;
}
h1 {
  text-align: center;
  padding-bottom: 20px;
}
a:active {
  color: white;
}
a:hover {
  color: white;
}

.intro {
  padding: 40px;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: #D3D3D3;
  padding: 30px;
}

.flex-container > div {
  color: white;
  background-color: grey;
  background-image: linear-gradient(grey, black );
  width: 350px;
  height: 400px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
}
.core {
  text-align: center;
  padding: 20px;
}

.values {
  font-family: 'Advent Pro';font-size: 18px;
  background-image: url("../img/z.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding: 30px;
}
.rangi {
  font-style: italic;
  color: white;
  background-color: #140509;
  background-image: linear-gradient(grey, black );
  padding: 40px;
}
button {
    font-size: 20px;
}
button:hover {
  background-color: #140509;
  color: white;
}
